## Assignment Task
1. SVM

In [7]:
#Importing libraries
import numpy as np
import pandas as pd

In [8]:
#Loading dataset
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [9]:
df.info()  # - Indicates that there are no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [10]:
df.describe() #Indicates that there are no outliers

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [5]:
import matplotlib.pyplot as plt
box_df = df.iloc[:,[0,1,2]]
box_df.plot(kind='box', figsize= (7,5),subplots=True, layout=(1,3))
plt.show()

In [6]:
#Step 1 : Bagging Classifier using Shuffling Technique

In [7]:
#Entire training dataset will be considered for training each model however the data will be shuffled for each model

In [8]:
#Check and Handle categorical data
#State is the only categorical data that needs to be handled. Rest are numerica data
df.State.unique()
dfU = pd.concat([pd.get_dummies(df.State), df.iloc[:,[0,1,2,4]]] , axis = 1)
#pd.get_dummies(df.Pincode)
dfU

,California,Florida,New York,R&D Spend,Administration,Marketing Spend,Profit
0,0,0,1,165349.20,136897.80,471784.10,192261.83
1,1,0,0,162597.70,151377.59,443898.53,191792.06
2,0,1,0,153441.51,101145.55,407934.54,191050.39
3,0,0,1,144372.41,118671.85,383199.62,182901.99
4,0,1,0,142107.34,91391.77,366168.42,166187.94
5,0,0,1,131876.90,99814.71,362861.36,156991.12
6,1,0,0,134615.46,147198.87,127716.82,156122.51
7,0,1,0,130298.13,145530.06,323876.68,155752.60
8,0,0,1,120542.52,148718.95,311613.29,152211.77
9,1,0,0,123334.88,108679.17,304981.62,149759.96
10,0,1,0,101913.08,110594.11,229160.95,146121.95
11,1,0,0,100671.96,91790.61,249744.55,144259.40
12,0,1,0,93863.75,127320.38,249839.44,141585.52
13,1,0,0,91992.39,135495.07,252664.93,134307.35
14,0,1,0,119943.24,156547.42,256512.92,132602.65
15,0,0,1,114523.61,122616.84,261776.23,129917.04
16,1,0,0,78013.11,121597.55,264346.06,126992.93
17,0,0,1,94657.16,145077.58,282574.31,125370.37
18,0,1,0,91749.16,114175.79,294919.57,124266.90
19,0,0,1,86419.70,153514.11,0.00,122776.86
20,1,0,0,76253.86,113867.30,298664.47,118474.03
21,0,0,1,78389.47,153773.43,299737.29,111313.02
22,0,1,0,73994.56,122782.75,303319.26,110352.25
23,0,1,0,67532.53,105751.03,304768.73,108733.99
24,0,0,1,77044.01,99281.34,140574.81,108552.04
25,1,0,0,64664.71,139553.16,137962.62,107404.34
26,0,1,0,75328.87,144135.98,134050.07,105733.54
27,0,0,1,72107.60,127864.55,353183.81,105008.31
28,0,1,0,66051.52,182645.56,118148.20,103282.38
29,0,0,1,65605.48,153032.06,107138.38,101004.64
30,0,1,0,61994.48,115641.28,91131.24,99937.59
31,0,0,1,61136.38,152701.92,88218.23,97483.56
32,1,0,0,63408.86,129219.61,46085.25,97427.84
33,0,1,0,55493.95,103057.49,214634.81,96778.92
34,1,0,0,46426.07,157693.92,210797.67,96712.80
35,0,0,1,46014.02,85047.44,205517.64,96479.51
36,0,1,0,28663.76,127056.21,201126.82,90708.19
37,1,0,0,44069.95,51283.14,197029.42,89949.14
38,0,0,1,20229.59,65947.93,185265.10,81229.06
39,1,0,0,38558.51,82982.09,174999.30,81005.76
40,1,0,0,28754.33,118546.05,172795.67,78239.91
41,0,1,0,27892.92,84710.77,164470.71,77798.83
42,1,0,0,23640.93,96189.63,148001.11,71498.49
43,0,0,1,15505.73,127382.30,35534.17,69758.98
44,1,0,0,22177.74,154806.14,28334.72,65200.33
45,0,0,1,1000.23,124153.04,1903.93,64926.08
46,0,1,0,1315.46,115816.21,297114.46,49490.75
47,1,0,0,0.00,135426.92,0.00,42559.73
48,0,0,1,542.05,51743.15,0.00,35673.41
49,1,0,0,0.00,116983.80,45173.06,14681.40

In [9]:
dfU

,California,Florida,New York,R&D Spend,Administration,Marketing Spend,Profit
0,0,0,1,165349.20,136897.80,471784.10,192261.83
1,1,0,0,162597.70,151377.59,443898.53,191792.06
2,0,1,0,153441.51,101145.55,407934.54,191050.39
3,0,0,1,144372.41,118671.85,383199.62,182901.99
4,0,1,0,142107.34,91391.77,366168.42,166187.94
5,0,0,1,131876.90,99814.71,362861.36,156991.12
6,1,0,0,134615.46,147198.87,127716.82,156122.51
7,0,1,0,130298.13,145530.06,323876.68,155752.60
8,0,0,1,120542.52,148718.95,311613.29,152211.77
9,1,0,0,123334.88,108679.17,304981.62,149759.96
10,0,1,0,101913.08,110594.11,229160.95,146121.95
11,1,0,0,100671.96,91790.61,249744.55,144259.40
12,0,1,0,93863.75,127320.38,249839.44,141585.52
13,1,0,0,91992.39,135495.07,252664.93,134307.35
14,0,1,0,119943.24,156547.42,256512.92,132602.65
15,0,0,1,114523.61,122616.84,261776.23,129917.04
16,1,0,0,78013.11,121597.55,264346.06,126992.93
17,0,0,1,94657.16,145077.58,282574.31,125370.37
18,0,1,0,91749.16,114175.79,294919.57,124266.90
19,0,0,1,86419.70,153514.11,0.00,122776.86
20,1,0,0,76253.86,113867.30,298664.47,118474.03
21,0,0,1,78389.47,153773.43,299737.29,111313.02
22,0,1,0,73994.56,122782.75,303319.26,110352.25
23,0,1,0,67532.53,105751.03,304768.73,108733.99
24,0,0,1,77044.01,99281.34,140574.81,108552.04
25,1,0,0,64664.71,139553.16,137962.62,107404.34
26,0,1,0,75328.87,144135.98,134050.07,105733.54
27,0,0,1,72107.60,127864.55,353183.81,105008.31
28,0,1,0,66051.52,182645.56,118148.20,103282.38
29,0,0,1,65605.48,153032.06,107138.38,101004.64
30,0,1,0,61994.48,115641.28,91131.24,99937.59
31,0,0,1,61136.38,152701.92,88218.23,97483.56
32,1,0,0,63408.86,129219.61,46085.25,97427.84
33,0,1,0,55493.95,103057.49,214634.81,96778.92
34,1,0,0,46426.07,157693.92,210797.67,96712.80
35,0,0,1,46014.02,85047.44,205517.64,96479.51
36,0,1,0,28663.76,127056.21,201126.82,90708.19
37,1,0,0,44069.95,51283.14,197029.42,89949.14
38,0,0,1,20229.59,65947.93,185265.10,81229.06
39,1,0,0,38558.51,82982.09,174999.30,81005.76
40,1,0,0,28754.33,118546.05,172795.67,78239.91
41,0,1,0,27892.92,84710.77,164470.71,77798.83
42,1,0,0,23640.93,96189.63,148001.11,71498.49
43,0,0,1,15505.73,127382.30,35534.17,69758.98
44,1,0,0,22177.74,154806.14,28334.72,65200.33
45,0,0,1,1000.23,124153.04,1903.93,64926.08
46,0,1,0,1315.46,115816.21,297114.46,49490.75
47,1,0,0,0.00,135426.92,0.00,42559.73
48,0,0,1,542.05,51743.15,0.00,35673.41
49,1,0,0,0.00,116983.80,45173.06,14681.40

In [10]:
features = dfU.iloc[:,:-1].values
label=dfU.iloc[:,[-1]].values

In [11]:
#Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(features,
                                                label,
                                                test_size=0.2,
                                                random_state=23)

In [12]:
# Tweaking to show you decision regions

In [13]:
import warnings
warnings.filterwarnings('ignore')

In [14]:
#KNN with Bagging Classifier

from sklearn.ensemble import BaggingRegressor
from sklearn.neighbors import KNeighborsRegressor

algorithm = KNeighborsRegressor()

model = BaggingRegressor(n_estimators=11,
                         base_estimator=algorithm)

model.fit(X_train,y_train)

BaggingRegressor(base_estimator=KNeighborsRegressor(algorithm='auto',
                                                    leaf_size=30,
                                                    metric='minkowski',
                                                    metric_params=None,
                                                    n_jobs=None, n_neighbors=5,
                                                    p=2, weights='uniform'),
                 bootstrap=True, bootstrap_features=False, max_features=1.0,
                 max_samples=1.0, n_estimators=11, n_jobs=None, oob_score=False,
                 random_state=None, verbose=0, warm_start=False)

In [15]:
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))

0.8438634509320438
0.7589538779379169

In [16]:
#Commenting out the below code so that execution happens faster
'''
def determine_RS_and_ES(features,label):
    max_ts = 0
    max_es = 0
    max_rs = 0
    model = None
    for i in range(1,51):
        X_train,X_test,y_train,y_test = train_test_split(features,
                                                    label,
                                                    test_size=0.2,
                                                    random_state=i)
        for j in range(1,51):
            algorithm = KNeighborsRegressor()
            model = BaggingRegressor(n_estimators=j,
                             base_estimator=algorithm)
            model.fit(X_train,y_train)

            train_s=model.score(X_train,y_train)
            test_s=model.score(X_test,y_test)

            if test_s > train_s:
                #print("Test Score {} Train Score {} RS {}".format(test_s,train_s,i))
                if test_s > max_ts:
                    max_ts = test_s
                    max_rs = i
                    max_es = j
                    model = model
        #print ("test score inside i loop %r " % max_ts)
    return max_ts, max_rs, max_es, X_train,X_test,y_train,y_test , model

max_ts, max_rs , max_es, X_train,X_test,y_train,y_test, model   = determine_RS_and_ES(features,label)

print ("Random state %r Estimators %r  corresponding to max test score %r   " %(max_rs,max_es, max_ts))

'''

'\ndef determine_RS_and_ES(features,label):\n    max_ts = 0\n    max_es = 0\n    max_rs = 0\n    model = None\n    for i in range(1,51):\n        X_train,X_test,y_train,y_test = train_test_split(features,\n                                                    label,\n                                                    test_size=0.2,\n                                                    random_state=i)\n        for j in range(1,51):\n            algorithm = KNeighborsRegressor()\n            model = BaggingRegressor(n_estimators=j,\n                             base_estimator=algorithm)\n            model.fit(X_train,y_train)\n\n            train_s=model.score(X_train,y_train)\n            test_s=model.score(X_test,y_test)\n\n            if test_s > train_s:\n                #print("Test Score {} Train Score {} RS {}".format(test_s,train_s,i))\n                if test_s > max_ts:\n                    max_ts = test_s\n                    max_rs = i\n                    max_es = j\n                    model = model\n        #print ("test score inside i loop %r " % max_ts)\n    return max_ts, max_rs, max_es, X_train,X_test,y_train,y_test , model\n\nmax_ts, max_rs , max_es, X_train,X_test,y_train,y_test, model   = determine_RS_and_ES(features,label)\n\nprint ("Random state %r Estimators %r  corresponding to max test score %r   " %(max_rs,max_es, max_ts))\n\n'

In [ ]:

#Random state 33 Estimators 12 corresponding to max test score 0.9581
features

In [21]:
#Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(features,
                                                label,
                                                test_size=0.2,
                                                random_state=33)

In [22]:
#KNN with Bagging Classifier

from sklearn.ensemble import BaggingRegressor
from sklearn.neighbors import KNeighborsRegressor

algorithm = KNeighborsRegressor()

model = BaggingRegressor(n_estimators=12,
                         base_estimator=algorithm)

model.fit(X_train,y_train)

BaggingRegressor(base_estimator=KNeighborsRegressor(algorithm='auto',
                                                    leaf_size=30,
                                                    metric='minkowski',
                                                    metric_params=None,
                                                    n_jobs=None, n_neighbors=5,
                                                    p=2, weights='uniform'),
                 bootstrap=True, bootstrap_features=False, max_features=1.0,
                 max_samples=1.0, n_estimators=12, n_jobs=None, oob_score=False,
                 random_state=None, verbose=0, warm_start=False)

In [23]:
print(model.score(X_train,y_train))
print(model.score(X_test,y_test))

0.797666532866263
0.9148835576292098

In [24]:
#Use the above code with for loops to determine estimators and best RS

## SVM

In [ ]:

#1. Assume only two features (So that I can show you decision region in XY plane)

finalFeatures = X_train[:,3:5]
#2. Convert the labels into numeric labels(Discrete labels)(1-setosa,2-versicolor,3-virginica)
finalLabels = y_train.values.ravel()
finalLabels

In [ ]:
finalFeatures

### SVM Regressor - Linear

In [ ]:
from sklearn.svm import SVR
model3 = SVR('linear') #linear regressor

In [ ]:
model3.fit(finalFeatures,finalLabels)

In [ ]:
model3.score(finalFeatures, finalLabels)

In [ ]:
model3.score(X_test, y_test)

### SVM Regressor - RBF

In [ ]:
model4 = SVR(kernel="rbf")

In [ ]:
model4.fit(finalFeatures,finalLabels)

In [ ]:
model4.score(finalFeatures, finalLabels)

In [ ]:
model4.score(X_test, y_test)

### SVM Regressor - Poly

In [ ]:
model5 = SVR(kernel="poly")
model5.fit(finalFeatures,finalLabels)

In [ ]:
model5.score(finalFeatures, finalLabels)

In [ ]:
model5.score(X_test, y_test)

### SVM Regressor - Sigmoid

In [ ]:
model6 = SVC(kernel="sigmoid")
model6.fit(finalFeatures,finalLabels)

In [ ]:
model6.score(finalFeatures, finalLabels)

In [ ]:
model6.score(X_test, y_test)